<div class="container" id="registerContainer" >
    <h2>Register</h2>
    <form id="registerForm" [formGroup] = "registeration">
        <input type="text" id="registerUsername" placeholder="Username" [formControl] = " email">
        <h1 [hidden] = "email.valid || email.untouched">please email required</h1>
        <input type="password" id="registerPassword" placeholder="Password" [formControl] = "password">
        <h1 [hidden] = "password.valid || password.untouched">please requred password an d minilength 6</h1>
       
        <button (click) = "signup()">Singup</button>
    </form>
    
</div>

<!-- <h1>Registeration</h1> -->
